@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: "poppin-bold";
    src: url("fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "poppin-thin";
    src: url("fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "ghs";
    src: url("fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 900;
    font-style: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-bg-header: #004ace;
    --clr-btn: #004ace;
    --clr-dropdown: #590080;
    --clr-nav-hover: #0058af;
    --clr-dropdown-hov: #008115;
    --clr-dropdown-link-hov: #00078c;
    --clr-light: #fafafa;
    --bg: #f0faff;
    --bgg: linear-gradient(
        30deg,
        rgb(13, 154, 0) 0%,
        rgb(32,0,22) 2%,
        rgba(70, 182, 243, 1) 76%,
        rgba(0, 35, 255, 1) 100%
    );
}

h1,
h2,
h3,
h4 {
    font-family: poppin-bold;
}

input,
button {
    outline: none;
}

body {
    font-size: 100%;
    overflow-y: auto;
    background: var(--bgg);
    transition: 0.5s ease-in;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--clr-bg-header);
    width: 100%;
    z-index: 1000000;
    padding: 0.7rem 0.3rem;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(30, 130, 95, 0.5);
}

.container {
    max-width: 65rem;
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container {
    /* flex: 1; */
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo-container h3 .third--logo {
    color: #5ab6f3;
    margin: 0 0.3rem;
}

.logo-container img {
    width: 38px;
    height: 38px;
    object-fit: cover;
    margin: 0 0.3rem;
    padding: 1px;
    background: #fff;
    border-radius: 50%;
}

.nav-btn {
    flex: 3;
    display: flex;
}

.nav-links {
    flex: 2;
}

.log-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo {
    color: var(--clr-light);
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    line-height: 3rem;
    font-size: 1.5rem;
}

.logo span {
    font-weight: 300;
    color: #f77a14;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1.3rem;
    font-size: 1rem;
    border: 2px solid var(--clr-light);
    border-radius: 2rem;
    line-height: 1;
    margin: 0 0.2rem;
    transition: 0.3s;
    font-weight: 800;
    font-family: ghs;
    text-transform: uppercase;
}
.log-sign #team {
    width: 110px;
    margin: 0 0.7rem;
    padding: 0.5rem 0.7rem;
    background: #da7500;
    color: #ffffff;
}
.btn.solid,
.btn.transparent:hover {
    background-color: var(--clr-light);
    color: var(--clr-btn);
}

.btn.transparent,
.btn.solid:hover {
    background-color: transparent;
    color: var(--clr-light);
}

.nav-links > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ghs;
}

.nav-link {
    position: relative;
}

.nav-link > a {
    line-height: 3rem;
    color: var(--clr-light);
    padding: 0 0.8rem;
    letter-spacing: 1px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    font-weight: 900;
}

.nav-link > a > i {
    margin-left: 0.2rem;
}

.nav-link:hover > a {
    /* transform: scale(1.1); */
    color: #f77a14;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: -0.5rem;
    width: 12rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    font-size: 18px;
}

.dropdown ul {
    position: relative;
}

.dropdown-link > a {
    display: flex;
    background-color: var(--clr-light);
    color: var(--clr-dropdown);
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}

.dropdown-link:hover > a {
    background-color: var(--clr-dropdown);
    color: var(--clr-light);
}

.dropdown-link:not(:nth-last-child(2)) {
    border-bottom: 1px solid var(--clr-light);
}

.dropdown-link i {
    transform: rotate(-90deg);
}

.arrow {
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: var(--clr-light);
    transform: rotate(45deg);
    cursor: pointer;
    transition: 0.3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow {
    background-color: var(--clr-dropdown);
}

.dropdown-link {
    position: relative;
    width: 100%;
}

.dropdown.second {
    top: 0;
    left: 70%;
    padding-left: 0.8rem;
    cursor: pointer;
    transform: translateX(10px);
    z-index: 909009;
    width: 100%;
}

.dropdown.second ul {
    width: 13rem;
    border-radius: 10px;
    box-shadow: 10px 10px 30px #cccccc;
}

.dropdown.second .arrow {
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: var(--clr-light);
    position: relative;
    z-index: 1001;
    transition: 0.5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: var(--clr-light);
    border-radius: 3px;
    transition: 0.5s;
}

.hamburger-menu div:before {
    transform: translateY(-7px);
}

.hamburger-menu div:after {
    transform: translateY(7px);
}

#check {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes heroAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.2 ease-in;
    }
}

@keyframes zoom-in {
    0% {
        transition: 0.2s ease-in;
        opacity: 0.5;
        transform: scale(0.8);
    }

    100% {
        transition: 0.2s ease-in-out;
        opacity: 0.5 ease-in;
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .hamburger-menu-container {
        display: flex;
    }

    #check {
        display: block;
    }

    .nav-btn {
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: var(--clr-bg-header);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: 0.65s;
    }

    #check:checked ~ .nav-btn {
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign {
        animation: animation 0.5s ease-in;
    }

    .nav-links {
        flex: initial;
        width: 100%;
    }

    .nav-links > ul {
        flex-direction: column;
    }

    .nav-link {
        width: 100%;
        opacity: 1;
        transform: translateY(15px);
    }

    .nav-link > a {
        color: #fff;
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a {
        color: #fff;
        transform: scale(1);
        background-color: transparent;
    }

    .dropdown,
    .dropdown.second {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        color: #fff;
        background-color: transparent;
        display: none;
    }

    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown {
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i {
        transform: rotate(360deg);
    }

    .dropdown-link > a {
        background-color: transparent;
        color: var(--clr-light);
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second ul {
        box-shadow: none;
        width: 100%;
    }

    .dropdown.second .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)) {
        border-bottom: none;
    }

    .arrow {
        z-index: 1;
        background-color: transparent;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: 0.5s;
    }

    .nav-link:hover .arrow {
        background-color: transparent;
    }

    .dropdown .dropdown .arrow {
        display: none;
    }

    .dropdown-link:hover > a {
        color: #fff;
        background-color: var(--clr-dropdown-link-hov);
    }

    .dropdown-link:first-child:hover ~ .arrow {
        background-color: transparent;
    }

    .nav-link > a > i {
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: 0.7s;
    }

    .dropdown i {
        font-size: 1rem;
        transition: 0.7s;
    }

    .log-sign {
        flex: initial;
        width: 100%;
        padding: 1.5rem 1rem;
        justify-content: flex-start;
        opacity: 1;
        transform: translateY(15px);
    }
}
