/* SECTION STYLING HERE */
section {
    margin: 4.5rem 0;
    overflow-y: auto;
}
section h2 {
    color: var(--blue);
    margin: 1rem auto;
    text-align: center;
}
.two-row {
    margin: 0.5rem 0.5rem;
}
.col {
    width: 100%;
    background: transparent;
    border-radius: 5px;
}
.col .flex {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin: 0.5rem auto;
}
.col .flex .hero-heading {
    color: var(--header-bg);
    font-weight: 900;
    text-align: center;
    margin: 0.5rem auto;
    text-shadow:
        2px 2px 3px rgb(0, 0, 0),
        -2px 2px 2px rgb(224, 252, 255);
}
.col .flex .intro {
    font-size: 1.3rem;
    color: #ff7627;
    text-align: center;
    margin: 0.3rem auto;
    text-shadow: var(--text);
}
.intro strong {
    color: #009ac0;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0.2rem;
}
.intro .typed-cursor {
    color: #e700ca;
    font-size: 25px;
    text-shadow: none;
}
.col .hero-img {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.hero-img img {
    width: 80%;
    height: auto;
    object-fit: cover;
    margin: 0.5rem auto;
    padding: 0.5rem;
    transition: 0.3s ease-in;
    box-shadow: var(--base-shadow);
    border-radius: 50%;
}
.hero-img button {
    display: none;
    visibility: hidden;
}
.col .flex article,
.col article {
    text-transform: capitalize;
    text-align: justify;
    line-height: 1.9rem;
    font-weight: 500;
    word-spacing: 2.5px;
    /* text-shadow: var(--base-shadow); */
    text-shadow:
        2px 2px 3px rgb(181, 181, 181),
        -2px 2px 2px rgb(224, 252, 255);
    color: #535353;
}
.col .bottom-flex {
    top: 3.5rem;
    align-items: center;
}
.bottom-flex .button-area {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.button-area a {
    outline: none;
    border: none;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 700;
    padding: 0.6rem 0.5rem;
    border-radius: 10px;
    margin: 0.5rem auto;
    color: var(--gray);
    background: var(--header-bg);
    box-shadow: var(--base-shadow);
    transition: 0.3s ease-in;
}
.button-area a img {
    margin: 0 0.3rem;
    width: 27px;
}
.button-area a:hover {
    outline: none;
    background: transparent;
    box-shadow: var(--base-shadow-active);
    color: var(--baseDark2);
    border-color: var(--base3);
}
.button-area #see-more {
    width: 140px;
}
.button-area #download {
    width: 163px;
}

.col .social {
    display: flex;
    margin: 0.5rem auto;
    padding: 0.3rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 0.5rem 1rem;
}
.social a {
    display: block;
    text-decoration: none;
    outline: none;
    background: transparent;
    box-shadow: var(--base-shadow-active);
    color: var(--baseDark2);
    border-color: var(--base3);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 0.1rem auto;
}
.social a img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 0.1px;
    object-fit: cover;
}
.hero-img .hero--img {
    transition: transform 0.3s ease-in-out;
}
.col .about-img {
}
.col .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: 0.5rem 0.8rem;
}
.about-img img {
    width: 100%;
    height: 400px;
    margin: 0.5rem auto;
    object-fit: cover;
    border-radius: 10px;
}
.projects ,.skills{
    width: 100%;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    margin: 0.5rem auto;
}
.projects .col img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    padding: 0.3rem;
}

.projects .col a {
    outline: none;
    border: none;
    display: block;
    text-align: center;
    align-items: center;
    font-weight: 700;
    width: 120px;
    padding: 0.6rem 0.5rem;
    border-radius: 10px;
    margin: 0.5rem auto;
    color: var(--gray);
    background: var(--header-bg);
    box-shadow: var(--base-shadow);
    transition: 0.3s ease-in;
}
.skills .col img {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
    padding: 0.3rem;
    background: var(--header-bg);
    box-shadow: var(--base-shadow);
    transition: 0.3s ease-in;
}
.skills .col h3 {
    margin: 0.5rem auto;
}
