@font-face {
    font-family: "poppin-bold";
    src: url("fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "poppin-thin";
    src: url("fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: "ghs";
    src: url("fonts/Lato-Bold.ttf") format("truetype");
    font-weight: 900;
    font-style: bold;
}

.section {
    width: 100%;
    height: auto;
    margin: 0.5rem 0;
}

.section h2 {
    color: rgb(74, 242, 0);
    font-weight: 900;
    font-size: 32px;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 0.2rem 0;
}

.section h3 {
    color: rgb(0, 91, 20);
    text-align: center;
    justify-content: center;
    font-size: 18px;
    margin: 0.5rem auto;
}

.section h2 img,
#what_we_can_do {
    width: 70%;
    height: auto;
    object-fit: cover;
    margin: 1rem auto;
    text-align: center;
    justify-content: center;
}

.section .text {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 20px;
    line-height: 2.4rem;
    text-align: justify;
    justify-content: center;
    width: 70%;
    text-transform: capitalize;
    margin: 0.2rem auto;
    font-family: poppin-bold;
}

.section .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    gap: 25px;
    margin: 1rem auto;
    padding: 1rem;

    /* background: rgb(239, 239, 239); */
}

.row .col {
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #0069a6;
    padding: 0.5rem;
    border-radius: 5px;
    border: 0.5px solid rgb(255, 255, 255);
}

/*
.row .col {
    box-shadow:
        2px 2px 4px #c7c7c7,
        -2px -2px 4px #c7c7c7;
}
*/
.row .col::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border-radius: 80px / 4px;
}

.col img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin: 0.1rem auto;
}

.col h4 {
    color: rgb(81, 253, 255);
    text-align: center;
    justify-content: center;
    font-size: 25px;
    margin: 0.2rem auto;
}

.col .p-text {
    color: rgb(255,255,255);
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    justify-content: left;
    line-height: 2rem;
    text-transform: capitalize;
    margin: 0.5rem 0.5rem;
    font-family: poppin-thin;
}

.col a {
    margin: 0.8rem auto;
}

/* SERVICE SECTION COMPLETED */
.section .one-column {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 0.2rem 1rem;
    margin: 0 0.3rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.one-column img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 1rem;
}

/*  WHY US DESIGNING */
.row-four {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(auto, 1fr));
    gap: 10px;
    margin: 1rem auto;
    padding: 1rem;
    /* background: rgb(239, 239, 239); */
}

.row-four .column {
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #0069a6;
    padding: 0.5rem;
    border-radius: 5px;
    border: 0.1px solid rgb(0, 207, 150);
    /* box-shadow:
        2px 2px 4px #c7c7c7,
        -2px -2px 4px #c7c7c7; */
}

.column h4 {
    color: rgb(0, 226, 229);
    text-align: center;
    justify-content: center;
    font-size: 18px;
    margin: 0.2rem auto;
}

.column img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0.1rem auto;
}

.column .p-text {
    color: rgb(255,255,255);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.8rem;
    text-align: left;
    justify-content: left;
    text-transform: capitalize;
    margin: 0.2rem 0.5rem;
    font-family: poppin-thin;
}

/* PROJECTS STYLE */
#projects {
    padding: 1rem 0.5rem;
}

#projects img {
    width: 100%;
}

#projects a {
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.3s ease-in;
    background: rgb(0, 76, 44);
    color: #ffffff;
    font-weight: 500;
    padding: 0.5rem 1rem;
    gap: 0.7rem;
    margin: 1rem auto;
    margin-bottom: 1rem;
    border-radius: 10px;
}

#projects a:hover {
    background: transparent;
    border: 1px solid rgb(0, 76, 44);
    color: rgb(0, 76, 44);
}

/* CLIENTS STYLING AREA */
img {
    -webkit-filter: saturate(2);
    filter: saturate(2);
}

.client {
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    /*
    justify-content: space-around;
    align-items: center;
    text-align: center;
    */
    background: rgb(238, 238, 238);
    padding: 0.2rem 0.5rem;
}

.client .client-column {
    background: #ffffff;
    padding: 0.6rem 0.7rem;
    border-radius: 5px;
    border: 0.1px solid rgb(0, 207, 150);
    margin: 0.2rem;
    text-align: center;
    align-items: center;
    width: 30%;
    overflow: hidden;
}

.client .client-column img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.client .client-column h4 {
    color: rgb(0, 145, 84);
    font-weight: 500;
}

.client .client-column .p-text {
    width: 100%;
    color: rgb(0, 48, 196);
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    justify-content: left;
    text-transform: capitalize;
    margin: 0.2rem auto;
    font-family: poppin-thin;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* LOCATION STYLING */
.location {
    display: flex;
    justify-content: center;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

.location img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

/* ------------------------------------------------------------------*/
/*
.marquee {
    white-space: nowrap;
    overflow: hidden;
    font-family: sans-serif;
  }
  
  .marquee-content {
    display: flex;
    animation: marquee 5s infinite linear;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  */
::-webkit-scrollbar {
    display: none;
}

.one-column {
    position: relative;
    /*
    right: -0;
    animation: slide 10s infinite;
    
    */
}

.one-column img {
    scrollbar-width: none;
    width: 100px;
    height: 100px;
    position: relative;
    animation: slide 3s infinite;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
        right: 0;
    }

    100% {
        transform: translateX(-100%);
        left: 0;
    }
}
